---
type Props = {
    href: string;
    classes: string;
    isLink: boolean;
};

const { href, classes, isLink } = Astro.props;
---

<>
    {
        isLink && (
            <a href={href} class={classes} rel="noreferrer" target="_blank">
                <slot />
                <svg
                    width="18"
                    height="18"
                    viewBox="0 0 18 18"
                    fill="none"
                    class="transition-all duration-300 group-hover:translate-x-1"
                >
                    <path
                        d="M5.25 12.75L12.75 5.25"
                        stroke="#999999"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M5.25 5.25H12.75V12.75"
                        stroke="#999999"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
            </a>
        )
    }

    {
        !isLink && (
            <div class={classes}>
                <slot />
            </div>
        )
    }
</>
